/node_modules
.DS_Store   
.env
.vscode
npm
-debug.log*
yarn
yarn-error.log*
.pnp.*
.pnp.js
dist
build
coverage
.idea
*.local
*.log
*.tsbuildinfo
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.next
out


